html{
  display: flex;
  flex-flow: row nowrap;  
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background:#070706;
    }

body {
  background: #070706;
  color: #f3f3f0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.head {
  display: flex;
  flex-direction: column;
}

.category {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.bookmark {
  display: flex;
  justify-content: space-evenly;
}

.bookmarks {
  display: flex;
  flex-direction: column;
  border: #94941e;
  border-radius: 3px;
  box-shadow: 2px 2px 4px 1px #ebeb1c;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #070706;
}

.logo {
  align-self: center;
  padding: 15px;
}

.icon {
  align-self: center;
  justify-content: center;
  margin: 15px;
}


.input_box {
  border: none;
  outline: none;
  background: none;
  padding-right: 15px;
  padding-left: 15px;
  width: 400px;
  color: whitesmoke;
  font-size: 22px;
  border-radius: 0px 0px 0px 0px;
  height: 70px;
  text-align: center;
}

.button {
  background: none;
  border: none;
  transition-duration: 0.6s;
  position: fixed;
  padding-left: 10px;
  padding-right: 10px;
  height: 70px;
  opacity: 60%;
}

.engine {
  background: none;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  transition-duration: 0.6s;
  position: relative;
  opacity: 60%;
}

form {
  margin: 0px;
  padding: 0px;
}

.search_box {
  display: flex;
  background: #070706;
  width: 600px;
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 4px 1px #ebeb1c;
  align-self: center;
  height: 70px;
}

.engine:hover {
  filter: saturate(150%) brightness(120%) !important;
  opacity: 20%;
}

.button:hover {
  filter: saturate(150%) brightness(120%) !important;
  opacity: 100%;
}

li {
  font-size: 16px;
  list-style-type: none;
  padding: 5px
}

a:link {
  text-decoration: none;
  color: #f3f3f0  ;
}

a:visited {
  color: #f3f3f0;
}

a:hover {
  color: #BD3CD3;
}

div.bookmarks.cod a:hover {
  color: #5cc639;
}

div.bookmarks.doc a:hover {
  color: #e1b51e;
}

div.bookmarks.ent a:hover {
  color: #3056cf;
}

div.bookmarks.mus a:hover {
  color: #d92656;
}

div.bookmarks.art a:hover {
  color: #8e717f;
}